@font-face {
    font-family: "work-sans";
    src: url("../fonts/WorkSans-Regular.ttf");
}

.header {
    font-family: work-sans;
    padding: 2em;
    background-color: #1e3c3c;
    padding: 2px;
    text-align: center;
    font-size: 32px;
    color: #328273;
}

html {
    background-color: #142828
}